.Icon-container-check,
.Icon-container-delete  {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  
}

.Icon-container-delete {
  margin-right: auto;
}

.Icon-container-delete:hover .Icon-svg{
  fill: red;
}

.Icon-container-check:hover .Icon-svg{
  fill: green;
}
.Icon-svg {
  width: 16px;
  height: 16px;
}



